<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">
        <activity
            android:name="nl.arnorob.pointlite.mapmark.WearLocationPicker"
            android:exported="false"
            android:label="@string/title_activity_wear_location_picker"></activity>

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity
            android:name="nl.arnorob.pointlite.mapmark.WearMapMarks"
            android:exported="false"
            android:label="@string/title_activity_wear_map_marks" />

        <activity
            android:name=".Point"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.arnorob.pointlite.mapmark.WearEditMapMark"
            android:exported="false"></activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCi3Qlr3QfvFEbaxs-5JnQV_XaLltDZRik" />
    </application>

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>